p,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}



.navbar {
    width: 100%;
    z-index: 999999;
    background-color: white;
    box-shadow: #6d6d6d50 0px 0px 10px 0.5px;
    top: 0;
}

.nav-item .line {
    width: 0px;
    height: 2px;
    transition: 0.3s all;
}
.nav-item:hover .line {
    width: 30px;
    background-color: #2d2d2d;
}

.sign {
    position: relative;
    background-color: #545454;
    width: 60px;
    height: 60px;
    transition: 0.5s all;
}
.sign:hover {
    background-color: #9dcdf4;
}

.sign span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
}


.banner {
    background-image: url("./bannerImage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    position: relative;
}

.banner .banner_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    letter-spacing: 10px;
    background-color: #ffffff90;
    padding: 5px 100px;
    border-radius: 20px;
}
.banner .banner_title_m {
    position: absolute;
    top: 50%;
    left:10px;
    transform: translateY(-50%);
    font-weight: 700;
    letter-spacing: 10px;
    padding: 20px 10px;
    background-color: #ffffff90;
    border-radius: 20px;
    writing-mode:vertical-lr;
}

.news_box {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    border-radius: 0 2rem 0 0;
    z-index: 1;
}

.new_news_box .red_circle {
    width: 20px;
    height: 20px;
    background-color: #f24e4e;
}

.new_news_box p {
    margin: 0;
    letter-spacing: 6px;
}

.news_list li .btn {
    padding: 0;
    border-bottom: 1px solid #4f4f4f;
}

.news_list .news_title {
    font-weight: 600;
    letter-spacing: 5px;
}

.news_list .news_data {
    font-size: 12px;
    letter-spacing: 2px;
}

.class_box {
    box-shadow: #6d6d6d50 0px 0px 5px 0.3px;
    border-radius: 30px;
    height: 160px;
    padding: 0;
    background-color: #f9f9f9;
    transition: 0.3s all;
}
.class_box:hover {
    box-shadow: #6d6d6d50 0px 0px 10px 0.3px;
}

.class_more {
    color: #2d2d2d50;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.5s all;
}
.class_box:hover .class_more {
    color: #2d2d2d;
}

.class_more::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1.5px;
    background-color: #2d2d2d;
    right: -100px;
    bottom: 0;
    z-index: -1;
    transition: 0.5s all;
}
.class_box:hover .class_more::before {
    right: 0;
}

.class_box .btn {
    padding: 0;
    border: none;
}

.class_box .class_content .h2 {
    font-weight: 700;
    color: #3f3f3f;
}

.class_img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 160px;
    width: 70%;
    border-radius: 30px 0 0 30px;
}

.class_box .class_img_3c {
    background-image: url("./classImage3c.jpg");
}
.class_box .class_img_wear {
    background-image: url("./classImageWatch.jpg");
}
.class_box .class_img_life {
    background-image: url("./classImageLift.jpg");
}

.hot_container {
    margin-top: 140px;
}

.hot_container .hot_img {
    background-image: url("./hotProductImage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 80px 80px 0;
    width: 100%;
    height: 100%;
}

.hot_title_box {
    border-left: 12px solid #2d2d2d;
}

.hot_title_box .hot_title_ch {
    font-weight: 700;
    letter-spacing: 8px;
}

.hot_title_box .hot_title_en {
    letter-spacing: 5px;
    font-weight: 500;
}


.offer_content p {
    letter-spacing: 8px;
}

.offer_line {
    width: 30px;
    height: 3px;
    background-color: #3f3f3f;
}

.email_box {
    background-image: url("./emailImage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 60px;
    width: 90%;
    height: 300px;
}

.email_box .h2 {
    position: relative;
    z-index: 0;
}
.email_box > p::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #eadd65;
    bottom: 0;
    z-index: -1;
}

.email_box input {
    border-radius: 50px 0 0 50px;
}


.footer {
    margin-top: 100px;
    border-top: 2px solid #30303080;
    padding-top: 50px;
}

.footer img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer .footer_list p {
    margin-bottom: 20px;
    border-bottom: 1px solid #3f3f3f;
}

.footer .footer_list a {
    color: #3f3f3f;
    font-size: 13px;
    margin: 5px 0 5px 0;
}



.sort_list .sort_box {
    box-shadow: #6d6d6d50 0px 0px 10px 0.5px;
    transition: 0.3s all;
    display: inline-block;
    width: 120px;
    height: 120px;
    position: relative;
}

.sort_box>img{
    max-width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    flex-flow: 1;
}

@media (max-width:768px){
    .sort_list .sort_box {
        width: 90px;
        height: 90px;
    }
}

.sort_list .sort_box:hover {
    background-color: #eaeaea;
    box-shadow: #6d6d6d50 0px 0px 10px 0.8px;
}

.sort_active {
    background-color: #f2e2a0;
}

.product_list_group {
    margin-top: 120px;
}

.product_list {
    width: 200px;
    background-color: #CCD3E0;
    border-radius: 20px;
    margin-bottom:80px ;
    box-shadow: #6d6d6d50 0px 0px 10px 0.5px;
    cursor: pointer;
    transition: all .5s;
    position:relative;
}
.product_list:hover {
    box-shadow: #6d6d6d80 0px 0px 15px 0.5px;
    background-color: #afc9bc;
}

.product_list img{
    width: 120px;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -45px;
    transition: all .3s;
}

.product_list:hover img{
    top: -60px;
}


.product_content{
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 150px;
    flex-grow: 1;
}

.product_list a:hover {
    text-decoration: none;
}

@media (max-width:768px){
    .product_list {
        width: 150px;
    }

    .product_list img{
        width: 100px;
    }

    .product_content{
        margin-top: 120px;
    }
}



.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

.sign_btn{
    border-radius: 50px;
}

.sign_body{
    background-image: url("memberSignBgImage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top:120px;
    position: relative;
    
}
.sign_body::before{
    content: '';
    position: absolute;
    background-color: #ededed99;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.sign_body .form-signin{
    background-color: #fff;
    box-shadow: #6d6d6d80 0px 0px 15px 0.5px;
    border-radius: 50px;
    position: relative;
    padding-top:80px;
}

.sign_body .form-signin img{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top:-80px;
}


.backstage_body{
    background-image: url("./backstageSignBgImage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top:120px;
    position: relative;
    z-index: 0;
}
.backstage_body::before{
    content: '';
    position: absolute;
    background-color: #ededed99;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: -1;
}

.backstage_body .form-signin{
    background-color: #fff;
    box-shadow: #6d6d6d80 0px 0px 15px 0.5px;
    border-radius: 50px;
    padding:30px;
}


.deashboard_menu{
    background-color: #6d7a84;
    min-height: 100vh;
}

@media (max-width:576px){
    .deashboard_menu{
        height: 10%;
        width: 100vw;
        min-height: 0;
    }
}

.deashboard_menu .dashboard_btn{
    letter-spacing: 5px;
    font-size:18px;
}
.deashboard_menu .dashboard_btn:hover{
    text-decoration: underline; 
}

.deashboard_content .text-content{
    color:#4c4c4c;
    border-bottom: 2px solid #2d2d2d;
}

.title_text{
    background-color: #dddddd;
    border-radius: 50px;
}

.table-responsive{
    box-shadow: #6d6d6d30 0px 5px 10px 0.5px;
    border-radius: 2rem;
}

.table-responsive .btn_del{
    border-radius: 50px;
    position:relative;
    padding:12px;
}

.table td{
    vertical-align: middle;
}

table{
    overflow-x: auto;
    white-space: nowrap;
}

@media (max-width:576px){
    table{
        display: block;
    }
}


.about_bg_img{
    background-image: url(./aboutUsImg.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
    position: relative;
}

.about_bg_img p,.news_bg_img p{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:40px;
    font-size:36px;
    font-weight: 700;
    letter-spacing: 10px;
}

.about_bg_img p::after,.news_bg_img p::after{
    content:'';
    background-color: #ffd91f70;
    width: 100%;
    height: 10px;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:0;
}

.about_text{
    margin-top: 100px;
    line-height: 40px;
    letter-spacing: 5px;
    font-size:18px;
    font-weight:500px;
}


.news_bg_img{
    background-image: url(./newsImg.jpg);
    background-position: center 40%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
    position: relative;
}

.return_bg_img{background-image: url(./returnPackageImg.jpg);}
.shopping_bg_img{
    background-image: url(./shoppingImg.jpg);
    background-position: center;
}
.faq_bg_img{
    background-image: url(./faqImg.jpg);
    background-position: center;
}

.contactmethod_bg_img{
    background-image: url(./contactMethodImg.jpg);
    background-position: center;
}

.news_content{
    display: flex;
    justify-content: center;
    margin-top:100px;
}



.news_list{
    border-radius: 30px;
}

.news_ul{
    border: 2px solid #2d2d2d80;
}

.news_class a{
    font-size: 20px;
}


.product_container{
    margin-top: 130px;
}

.product_picture{
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #d7f2f9;
    padding: 80px 0;
    border-radius: 0 120px 120px 0;
    position: relative;
    box-shadow: #6d6d6d50 0px 0px 15px 5px;
}

.product_picture a{
    position: absolute;
    top: 30px;
    left:50px;
}

.product_picture a:hover ,.num_btn a:hover{
    text-decoration: none;
}

.product_text_box{
    position: relative;
    height: 700px;
}

.product_text_box .product_text{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: #f9f9f9;
    box-shadow: #6d6d6d50 0px 0px 10px 0.5px;
    border-radius: 60px;
}

.product_text .tag{
    background-color: #f7dc6b;
    padding: 0 20px;
}

.product_text_box .price{
    font-size: 35px;
    
}

.product_text_box .price span{
    font-size: 20px;
    margin-left:10px;
    text-decoration:line-through;
}

.cart{
    background-color: #f46c6c;
    letter-spacing: 3px;
    color:white;
}

@media screen and (max-width:960px){
    .product_picture img{
        width: 300px;
    }
    .product_text{
        width: 90%;
    }
}

@media screen and (max-width:576px){
    .product_picture img{
        width: 200px;
    }
}


/*loading*/
.loading_box{
    position: fixed;
    z-index: 999998;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    top: 0;
}

.loading_box img{
    position:absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 250px;
}

@media (max-width:768px){
    .loading_box img{
        width: 150px;
    }
}

/*cart*/
.mobile_cart_btn{
    position: fixed;
    z-index: 999997;
    background-color:#f24e4e;
    box-shadow: #6d6d6d50 0px 0px 10px 0.5px;
    border-radius: 50px;
    bottom: 50px;
    right: 50px;
    padding: 15px 20px;
}



.cart_btn{
    position: fixed;
    z-index: 999997;
    background-color:#f24e4e;
    box-shadow: #6d6d6d50 0px 0px 10px 0.5px;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    bottom: 50px;
    right: 50px;
    transition: .5s;
    overflow: hidden;
}
.cart_btn:hover{
    width: 300px;
    height: 500px;
}

.cart_box{
    position: relative;
    width: 300px;
    height: 500px;
}

.cart_btn .cart_link{
    position:absolute;
    top: 17px;
    left: 20px;
    color: #fff;
    font-size: 25px;
}

.cart_lsit{
    padding-top:60px;
    padding-left: 30px;
    padding-right: 30px;
}

.cart_lsit li{
    border-bottom:1px solid #fff;
    padding: 5px 5px;
}

.order_box{
    margin-top:120px;
}

.process_box{
    font-size: 20px;
}


.process_box>div::after{
    content:'';
    position:absolute;
    width: 50%;
    height: 3px;
    background-color: #2d2d2d;
    top:30%;
    left:50%;
    z-index: -1;
}

.process_box .basic_confirm::after,.process_box .check_order_confirm::after,
.process_box .check_basic_confirm::after
{background-color: #2d2d2d30;}

.process_box .basic_confirm::before,.process_box .check_basic_confirm::before,
.process_box .pay_basic_confirm::before
{
    content:'';
    position:absolute;
    width: 50%;
    height: 3px;
    background-color: #2d2d2d;
    top:30%;
    left:0;
    z-index: -1;
}
.process_box .check_basic_confirm::before
{background-color: #2d2d2d30;}

.process_box .pay_confirm::after,.process_box .check_pay_confirm::after{
    left:0;
    background-color: #2d2d2d30;
}

.process_box .pay_order_confirm::after{
    left:0;
    background-color: #2d2d2d;
}

.process_box .pay_confirm,.process_box .check_basic_confirm,
.process_box .check_pay_confirm
{color:#2d2d2d30}


.process_box .far,.process_box .fas{
    background-color: #fff;
    position:relative;
    border:2px solid;
    padding: 15px;
    font-size: 30px;
    border-radius:50%;
}



.order_title{
    font-size: 30px;
}

.order_img{
    width: 80px;
}

.cart_click_lsit li{
    border-bottom: 1px solid #2d2d2d;
}

.line{
    width: 30%;
    height: 1px;
}

.check_finish .h1{
    font-size: 100px;
}

.check_finish{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 8px;
}

.carousel_next,.carousel_prev{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position:absolute;
    bottom: 30px;
    right: 100px;
    background-color: #2d2d2d20;
}

.carousel_next{
    right: 40px;
}

.carousel_next span,.carousel_prev span{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.carousel_next:hover,.carousel_prev:hover{
    background-color: #2d2d2d80;

}

.alert_message,.alert_message_error{
    position: fixed;
    z-index: 9999999;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    background-color: #ffd000;
    box-shadow: #6d6d6d50 0px 0px 10px 0.5px;
    padding: 35px 20px;
    opacity: 0;
}

.alert_message_error{
    background-color: #f24e4e;
}

.alert_message_anim,.alert_message_error_anim{
    animation: 1s all;
    animation-name: message;
    top: 50%;
    opacity: 0;
}

@keyframes message{
    from{
        top: 60%;
        opacity: 0;
    }
    40%{
        top: 50%;
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    to{
        opacity: 0;
    }

}

.alert_message_error_anim{
    animation: 1s all;
    animation-name: message_error;
    top: 50%;
    opacity: 1;
}

@keyframes message{
    from{
        top: 60%;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }

}

.alert_delete{
    position: fixed;
    z-index: 9999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #f46c6c;
    border-radius: 60px;
    width: 300px;
    box-shadow: #6d6d6d50 0px 0px 10px 0.5px;
}

.alert_delete_bg{
    position: absolute;
    z-index: 9999998;
    width: 100%;
    height: 100%;
}

.table-responsive{
    overflow-x: auto;
}

.table_lsit{
    position:relative;
}

.loading_list{
    position: absolute;
    bottom:-40px;
    left:50%;
    transform:translateX(-50%);
}

.like_title{
    position: relative;
    background-color: #fff;
    padding: 0 20px;
}

.like_title:before{
    content: "";
    position:absolute;
    width: 80vw;
    height: 1px;
    background-color: #2d2d2d80;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: -1;
}

/* das */
.statistic>li{
    border-radius: 2rem;
    width: 250px;
    height: 100px;
    box-shadow: #6d6d6d30 0px 5px 10px 0.5px;
    color: #4c4c4c;
}

.text_small{
    font-size: 15px;
    font-weight: 500;
}

.text_big{
    font-size: 35px;
    font-weight: 700;
}